ion-slide>ion-img{
    height: 20vh;
}

ion-slides{
    top:40%;
    position: relative;
}

.rewardtext{
    top:30%;
    position: relative;
}

ion-progress-bar{
    width: 90%;
    left:5%;
    top:10%;
    position: relative;
}