#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.closemap{
    position: absolute;
    top:2%;
    left:3%;
    background-color: #FCFCFC;
    border-radius: 50%;
    display: inline-block;
}